/* HeroText.css */
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Carmine';
  src: url('../assets/fonts/Carmine.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

#root {
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
}

.hero-text-container {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
  }
  
  .hero-text-title {
    font-size: 5rem;
    margin: 0.5em 0;
    line-height: 0.4;
    font-weight: 500;
    font-family: "Carmine";
  }

  .hero-text-divider {
    margin: 20px auto; /* Centered between title and subtitle */
    width: 100%;  /* Final width after animation */
    height: 2px; /* Height of the divider line */
    background-color: rgb(248, 248, 248); /* Color of the divider */
    transition: width 1s ease; /* Optional smooth width change */
  }
  
  
  .hero-text-subtitle {
    font-size: 1rem;
    margin: 0.5em 0 1em;
    font-family: "Libre Franklin";
  }
  
  .hero-text-button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: none;
    border: none;
    border-radius: 20px;
    background: linear-gradient(
      rgba(66, 180, 144, 1),  /* Add opacity to the first color */
      rgba(27, 146, 154, 1)   /* Add opacity to the second color */
    );
    color: white;
    transition: background-color 0.7s ease;
  }
  
  .hero-text-button:hover {
    cursor: none;
    color: rgb(16, 90, 95);
    background: aliceblue;
    transition: background-color 0.7s ease;
  }